<!DOCTYPE html>
<html>

<head>
    <title>Creative 3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script> 
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css" />

</head>

<body>
    <h3><b>Currency Converter:</b></h3>
    <div ng-app="myApp" ng-controller="myCtrl as invoice">

        <div class="sBox">
            Quantity:<input type="number" min="0" ng-model="invoice.qty" required>
        </div>

        <div class = "sBox">
            Costs:<input type="number" min="0" ng-model="invoice.cost" required>
            <select ng-model="invoice.inCurr">
                <option ng-repeat="c in invoice.currencies">{{c}}</option>
            </select>
        </div>
        <div>
            <b>Total:<br></b>
            <div class="rBox" ng-show="invoice.cost" ng-repeat="c in invoice.currencies">{{invoice.total(c) | currency:c}}</div>
        </div>
    </div>
</body>

</html>
